@model PostedTravelVoucherViewModel

@{
    ViewData["Title"] = "Verify Travel Settlement";
}

<section class="panel">
    <form asp-action="VerifyRequest">
        <header class="panel-heading">
            <h2 class="panel-title">
                Verify Travel Settlement
            </h2>
        </header>

        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Key" />

            <h4>
                <b>General</b>
            </h4>

            <fieldset>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Travel_Order_Form_No" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Travel_Order_Form_No" class="form-control" readonly />
                            <span asp-validation-for="Travel_Order_Form_No" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Travelrs_ID_No" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Travelrs_ID_No" class="form-control col-sm-3" readonly />
                            <span asp-validation-for="Travelrs_ID_No" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Travelers_Name" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Travelers_Name" class="form-control" readonly />
                            <span asp-validation-for="Travelers_Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Actual_Departure_Date_AD" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Actual_Departure_Date_AD" class="form-control col-sm-3" type="text" readonly />
                            <span asp-validation-for="Actual_Departure_Date_AD" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Actual_Arrival_Date_AD" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Actual_Arrival_Date_AD" class="form-control" type="text" readonly />
                            <span asp-validation-for="Actual_Arrival_Date_AD" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Fulfillment_of_Purpose" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <textarea asp-for="Fulfillment_of_Purpose" class="form-control col-sm-3" readonly></textarea>
                            <span asp-validation-for="Fulfillment_of_Purpose" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <h4>
                <b>Claimed Settlement</b>
            </h4>

            <fieldset>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Claimed_Travel_Expenses" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Claimed_Travel_Expenses" class="form-control" readonly />
                            <span asp-validation-for="Claimed_Travel_Expenses" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Claimed_Driver_Allowance" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Claimed_Driver_Allowance" class="form-control col-sm-3" readonly />
                            <span asp-validation-for="Claimed_Driver_Allowance" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Claimed_Fuel_Expenses" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Claimed_Fuel_Expenses" class="form-control" readonly />
                            <span asp-validation-for="Claimed_Fuel_Expenses" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Claimed_Guest_Expensesv" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Claimed_Guest_Expensesv" class="form-control col-sm-3" readonly />
                            <span asp-validation-for="Claimed_Guest_Expensesv" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Travel_Allowance_90Percent" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Travel_Allowance_90Percent" class="form-control" readonly />
                            <span asp-validation-for="Travel_Allowance_90Percent" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Daily_Allowance_90Percent" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Daily_Allowance_90Percent" class="form-control col-sm-3" readonly />
                            <span asp-validation-for="Daily_Allowance_90Percent" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Total_Claimed_Amount" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Total_Claimed_Amount" class="form-control" readonly />
                            <span asp-validation-for="Total_Claimed_Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <h4>
                <b>Approved Details</b>
            </h4>

            <fieldset>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Approved_Travel_Expenses" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Approved_Travel_Expenses" class="form-control" />
                            <span asp-validation-for="Approved_Travel_Expenses" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Approved_Driver_Allowance" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Approved_Driver_Allowance" class="form-control col-sm-3" />
                            <span asp-validation-for="Approved_Driver_Allowance" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Approved_Fuel_Expenses" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Approved_Fuel_Expenses" class="form-control" />
                            <span asp-validation-for="Approved_Fuel_Expenses" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Approved_Guest_Expenses" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Approved_Guest_Expenses" class="form-control col-sm-3" />
                            <span asp-validation-for="Approved_Guest_Expenses" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Travel_Allowance_100Percent" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Travel_Allowance_100Percent" class="form-control" readonly />
                            <span asp-validation-for="Travel_Allowance_100Percent" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label asp-for="Daily_Allowance_100Percent" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Daily_Allowance_100Percent" class="form-control col-sm-3" readonly />
                            <span asp-validation-for="Daily_Allowance_100Percent" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Total_Approved_Amount" class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <input asp-for="Total_Approved_Amount" class="form-control" readonly />
                            <span asp-validation-for="Total_Approved_Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <footer class="panel-footer">
            <input type="submit" value="Verify" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </footer>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        (function () {
            $("#Actual_Departure_Date_AD, #Actual_Arrival_Date_AD").datepicker({
                format: "m/d/yyyy"
            });

            let ApprovedSettlement = {
                Approved_Travel_Expenses: @Model.Approved_Travel_Expenses,
                Approved_Driver_Allowance: @Model.Approved_Driver_Allowance,
                Approved_Fuel_Expenses: @Model.Approved_Fuel_Expenses,
                Approved_Guest_Expenses: @Model.Approved_Guest_Expenses,
                Total_Approved_Amount: @Model.Total_Approved_Amount,
            }

            $("#Approved_Travel_Expenses").on('keyup', function () {
                let value = parseFloat(this.value);
                if (isNaN(value)) {
                    value = 0;
                }
                ApprovedSettlement.Total_Approved_Amount = parseFloat(ApprovedSettlement.Total_Approved_Amount - ApprovedSettlement.Approved_Travel_Expenses + value);
                ApprovedSettlement.Approved_Travel_Expenses = parseFloat(value);
                UpdateTotalApprovedAmount();
            });

            $("#Approved_Driver_Allowance").on('keyup', function () {
                let value = parseFloat(this.value);
                if (isNaN(value)) {
                    value = 0;
                }
                ApprovedSettlement.Total_Approved_Amount = parseFloat(ApprovedSettlement.Total_Approved_Amount - ApprovedSettlement.Approved_Driver_Allowance + value);
                ApprovedSettlement.Approved_Driver_Allowance = parseFloat(value);
                UpdateTotalApprovedAmount();
            });

            $("#Approved_Fuel_Expenses").on('keyup', function () {
                let value = parseFloat(this.value);
                if (isNaN(value)) {
                    value = 0;
                }
                ApprovedSettlement.Total_Approved_Amount = parseFloat(ApprovedSettlement.Total_Approved_Amount - ApprovedSettlement.Approved_Fuel_Expenses + value);
                ApprovedSettlement.Approved_Fuel_Expenses = parseFloat(value);
                UpdateTotalApprovedAmount();
            });

            $("#Approved_Guest_Expenses").on('keyup', function () {
                let value = parseFloat(this.value);
                if (isNaN(value)) {
                    value = 0;
                }
                ApprovedSettlement.Total_Approved_Amount = parseFloat(ApprovedSettlement.Total_Approved_Amount - ApprovedSettlement.Approved_Guest_Expenses + value);
                ApprovedSettlement.Approved_Guest_Expenses = parseFloat(value);
                UpdateTotalApprovedAmount();
            });

            function UpdateTotalApprovedAmount() {
                $("#Total_Approved_Amount").val(ApprovedSettlement.Total_Approved_Amount);
            }
        })();
    </script>
}