@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["RightSidebarID"] = "sidebar-right";
}

@section StyleSheets {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style type="text/css">
        .text-white {
            color: white;
        }
    </style>
}

@section CalendarEvents {
    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse
                    <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">
                    <div class="sidebar-widget widget-calendar">
                        <h6>Calendar Events</h6>
                        <div id="calendar" class="text-white" ></div>
                    </div>
                </div>

                <div class="sidebar-widget widget-friends">
                    <h6>Events</h6>
                    <ul id="list_Events"></ul>
                </div>
            </div>
        </div>
    </aside>
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions pull-right">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">
            Leave Request
        </h2>
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-5 col-xs-5">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="PendingLeaveRequest" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-archive-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Pending</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Pending_Leave_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-7 col-xs-7">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="RecommendedLeaveRequest" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-code-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Recommended</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Recommended_Leave_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="ApprovedLeaveRequest" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Approved</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Approved_Leave_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions pull-right">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">
            Travel Order
        </h2>
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-5 col-xs-5">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="PendingTravelOrder" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-archive-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Pending</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Pending_Travel_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-7 col-xs-7">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="RecommendedTravelOrder" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-code-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Recommended</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Recommended_Travel_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="ApprovedTravelOrder" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Approved</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Approved_Travel_Request</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions pull-right">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">
            Salary Advance
        </h2>
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-5 col-xs-5">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="PendingSalaryAdvance" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-archive-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Pending</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Pending_Salary_Advance</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-7 col-xs-7">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="RecommendedSalaryAdvance" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-code-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Recommended</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Recommended_Salary_Advance</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="VerifiedSalaryAdvance" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Verified</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Verified_Salary_Advance</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="ApprovedSalaryAdvance" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Approved</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Approved_Salary_Advance</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions pull-right">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">
            Travel Settlement
        </h2>
    </header>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-5 col-xs-5">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="PendingTravelSettlement" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-archive-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Pending</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Pending_Settlement</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-7 col-xs-7">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="RecommendedTravelSettlement" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-code-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Recommended</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Recommended_Settlement</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="VerifiedTravelSettlement" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-file-text-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Verified</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Verified_Settlement</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                <section class="panel panel-featured-left panel-featured-primary">
                    <div class="panel-body" style="background-color: lightgray">
                        <a asp-controller="ApprovedTravelSettlement" asp-action="Index" style="text-decoration:none;">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Approved</h4>

                                        <div class="info">
                                            <strong class="amount">@Model.HrDashboard.Approved_Settlement</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        (function () {
            let calendarEvents = @Html.Raw(Json.Serialize(Model.CalendarEvents));
            let calendarEventDates = [];

            if (calendarEvents instanceof Array) {
                calendarEvents.forEach(function (value) {
                    let calendarObj = {
                        Date: new Date(value.date),
                        Description: value.description,
                    }
                    calendarEventDates.push(calendarObj);
                });
            }

            $("#calendar").datepicker({
                beforeShowDay: function (date) {
                    let eventDetails = calendarEventDates.find(x => x.Date.toLocaleDateString() == date.toLocaleDateString());
                    if (eventDetails != undefined) {
                        return {
                            classes: "text-bold bg-danger",
                            tooltip: eventDetails.Description
                        }
                    }
                }
            }).on('changeMonth', function (e) {
                UpdateEventList(e.date);
            }).on('changeDate', function (e) {
                UpdateEventList(e.date);
            });

            function UpdateEventList(currentDate) {
                let htmls = '';
                let currentMonth = currentDate.getMonth();
                let currentYear = currentDate.getYear();

                calendarEventDates.forEach(function (value) {
                    if (currentMonth == value.Date.getMonth() && currentYear == value.Date.getYear()) {
                        htmls += `<li>
                                    <div class="profile-info">
                                        <span class="name">${value.Description}</span>
                                        <span class="title">${value.Date.toLocaleDateString()}</span>
                                    </div>
                                </li>`;
                    }
                });
                $("#list_Events").html(htmls);
            }
        })();
    </script>
}