@model HRSystem.Models.LeaveRequestViewModel

@{
    ViewData["Title"] = "Submit Leave Request";
}

@section StyleSheets {
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

<section class="panel">
    <form asp-action="Submit">
        <header class="panel-heading">
            <h2 class="panel-title">
                Submit Leave Request
            </h2>
        </header>

        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Employee_No" class="control-label"></label>
                        <input asp-for="Employee_No" class="form-control" value="@User.Identity.GetEmployeeNo()" readonly />
                        <span asp-validation-for="Employee_No" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Full_Name" class="control-label"></label>
                        <input asp-for="Full_Name" class="form-control" value="@User.Identity.Name" readonly />
                        <span asp-validation-for="Full_Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Leave_Type_Code" class="control-label"></label>
                        <select asp-for="Leave_Type_Code" class="form-control">
                            @foreach (var items in ViewBag.LeaveTypeCodes)
                            {
                                <option value="@items.Leave_Type_Code">@items.Description</option>
                            }
                        </select>
                        <span asp-validation-for="Leave_Type_Code" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Leave_Type" class="control-label"></label>
                        <select asp-items="Html.GetEnumSelectList<LeaveRequestCard.Leave_Type>()" asp-for="Leave_Type" class="form-control"></select>
                        <span asp-validation-for="Leave_Type" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Leave_Start_Date" class="control-label"></label>
                        <input asp-for="Leave_Start_Date" readonly type="text" class="form-control" />
                        <span asp-validation-for="Leave_Start_Date" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Leave_End_Date" class="control-label"></label>
                        <input asp-for="Leave_End_Date" readonly type="text" class="form-control" />
                        <span asp-validation-for="Leave_End_Date" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Substitute_Employee_No" class="control-label"></label>
                        <select asp-for="Substitute_Employee_No" class="form-control">
                            @foreach (var items in ViewBag.EmployeeList)
                            {
                                <option value="@items.No" data-fullname="@items.Full_Name">@items.No (@items.Full_Name)</option>
                            }
                        </select>
                        <span asp-validation-for="Substitute_Employee_No" class="text-danger"></span>
                    </div>
                </div>

                @*<div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Substitute_Employee_Name" class="control-label"></label>
                            <input asp-for="Substitute_Employee_Name" class="form-control" />
                            <span asp-validation-for="Substitute_Employee_Name" class="text-danger"></span>
                        </div>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Remarks" class="control-label"></label>
                        <textarea asp-for="Remarks" class="form-control"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <footer class="panel-footer">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </footer>
    </form>
</section>

@section Scripts {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        (function () {
            //$("#Substitute_Employee_No").on('change', function (e) {
            //    let fullName = $(this).find(':selected').data('fullname');
            //    $("#Substitute_Employee_Name").val(fullName);
            //})

            $("#Substitute_Employee_No").select2({
                placeholder: "Select Substitute Employee",
                allowClear: true
            });

            $("#Leave_Start_Date, #Leave_End_Date").datepicker({
                startDate: new Date().toLocaleDateString(),
            });
        })();
    </script>
}
