@model IEnumerable<TravelOrderStatus.travelorderstatus>

@{
    ViewData["Title"] = "Travel Orders";
}

@section StyleSheets {
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
}

<section class="panel">
    <header class="panel-heading">
        <div class="pull-right">
            <a asp-action="Submit" class="btn btn-sm btn-primary">
                Create
            </a>
        </div>

        <h2 class="panel-title">
            Travel Orders
        </h2>
    </header>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover mb-none" id="tbl_TableOrders">
                <thead>
                    <tr>
                        <th>
                            Travel Order No
                        </th>
                        <th>
                            Travel Type
                        </th>
                        <th>
                            Travel Status
                        </th>
                        <th>
                            Requested Date
                        </th>
                        <th>
                            Approved Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Travel_Order_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Travel_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Travel_Status)
                            </td>
                            <td>
                                @item.Requested_Date.ToShortDateString()
                            </td>
                            <td>
                                @item.Approved_Date.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/DataTables/datatables.min.js"></script>

    <script type="text/javascript">
        (function () {

            'use strict';

            var datatableInit = function () {
                $('#tbl_TableOrders').dataTable({
                    "order": [[ 0, "desc" ]]
                });
            };

            $(function () {
                datatableInit();
            });

        })();
    </script>
}
